#======== File I/O =====================
BitstreamFile                 : str.bin
ReconFile                     : rec.yuv

#======== Coding Structure =============
IntraPeriod                   : 0                     # Period of I-Frame ( 0 = only first)
DecodingRefreshType           : 0                      # Random Accesss 0:none, 1:CDR, 2:IDR
GOPSize                       : 4                      # GOP Size (number of B slice = GOPSize-1)

#        Type POC QPoffset lambda(Not used) temporal_id ref_L0(0)  ref_L0(1)
Frame1:  P    1   0        0                0           0          -1 
Frame2:  P    2   0        0                0           1          0 
Frame3:  P    3   0        0                0           2          1 
Frame4:  P    4   0        0                0           3          2 


#======== Quantization =============
QP                            : 32                     # Quantization parameter(0-51)

#=========== Misc. ============
InternalBitDepth              : 8                      # codec operating bit-depth

#============ WaveFront ================
WaveFrontSynchro                    : 0                # 0:  No WaveFront synchronisation (WaveFrontSubstreams must be 1 in this case).
                                                       # >0: WaveFront synchronises with the LCU above and to the right by this many LCUs.

#============ Lossless ================
LosslessCoding:                     : 0 

#============ Rate Control ======================
RateControl                         : 0                # 0: off, 1: on
EncBitrate                          : 3000000          # Encoding bitrate, in bps
TransBitrate                        : 0                # Peak transmission bitrate, in bps. 
                                                       # If TransBitrate is 0, the peak transmission rate is fast enough, such as files on hard drive.
EnHvsQp                             : 0                # set to 1 to improve subjective quality or SSIM score. set to 0 for better PSNR score
CULevelRateControl                  : 0                # set to 1 to meet bitrate more tightly by sacrificing image quality

# Add by VIPSoc
EnDBK 								: 0 			   # disable deblocking 
EnSAO 								: 0 			   # disable SAO

#============ Noise Reduction ======================
EnNoiseReductionY                             : 0
EnNoiseReductionCb                            : 0
EnNoiseReductionCr                            : 0


### DO NOT ADD ANYTHING BELOW THIS LINE ###
### DO NOT DELETE THE EMPTY LINE BELOW ###

