#======== File I/O ===============
InputFile                     : F:\Code\Sequence\BasketballDrill\BasketballDrill.yuv
InputBitDepth                 : 8           # Input bitdepth
FrameRate                     : 60          # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
SourceWidth                   : 832         # Input  frame width
SourceHeight                  : 480         # Input  frame height
FramesToBeEncoded             : 15          # Number of frames to be coded
